<div class="poster-box">
    <img class="poster film-pic" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{backdrop_path}}" // ?
        alt="a poster to {{title}} film">
    <div class="trailer-box-svg">
        <svg class="trailer-box-svg-on" data-id="{{id}}">
            <use href=" ../images/symbol-defs.svg#icon-play3"></use>
        </svg>
    </div>
</div>
<div class="film-data">
    <p class="film-title">{{title}}</p>

    <table class="film-info-box">
        <tr>
            <td id="col1" class="film-info vote">Vote / Votes</td>
            <td id="col2" class="film-info-data">
                <span class="film-info-data vote-average">{{vote_average}}</span> / {{ vote_count}}
            </td>
        </tr>
        <tr>
            <td class="film-info pop">Popularity</td>
            <td class="film-info-data">{{popularity}}</td>
        </tr>
        <tr>
            <td class="film-info orig">Original Title</td>
            <td class="film-info-data original-title">{{original_title}}</td>
        </tr>
        <tr>
            <td class="film-info genre">Genre</td>
            <td class="film-info-data">{{#each genres}}{{name}}, {{/each}}</td>
        </tr>
    </table>
    <button class="button button-trailer" data-id="{{id}}">
        <svg class="trailer-svg">
            <use href="../images/symbol-defs.svg#icon-play3"></use>
        </svg>
        <span class="btn-text">play trailer</span>
    </button>

    <div class="film-about">
        <p class="film-about-title">ABOUT</p>
        <p class="film-about-text">{{overview}}</p>
    </div>


    <div class="user-action-buttons">
        <button class="buttons action-watch active" type="button">add to Watched</button>
        <button class="buttons action-queue" type="button">add to queue</button>
    </div>

</div>