<button type="button" class="modal-button" data-action="close-modal"></button>

<img class="poster film-pic" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}"
    alt="a poster to {{title}} film" data-id="{{id}}">

<div class="film-data">
    <p class="film-title">{{title}}</p>

    <table class="film-info-box">
        <tr>
            <td id="col1" class="film-info vote">
                {{#if langSearch }} Rating / Votes
                {{else}} Рейтинг / Голоса
                {{/if}}
            </td>
            <td id="col2" class="film-info-data">
                <span class="film-info-data vote-average">{{vote_average}}</span> / {{ vote_count}}
            </td>
        </tr>
        <tr>
            <td class="film-info pop">
                {{#if langSearch }} Popularity
                {{else}} Популярность
                {{/if}}
            </td>
            <td class="film-info-data">{{popularity}}</td>
        </tr>
        <tr>
            <td class="film-info orig">
                {{#if langSearch }} Original Title
                {{else}} Оригинальное название
                {{/if}}
            </td>
            <td class="film-info-data original-title">{{original_title}}</td>
        </tr>
        <tr>
            <td class="film-info genre">
                {{#if langSearch }} Genre
                {{else}} Жанр
                {{/if}}
            </td>
            <td class="film-info-data">{{#each genres}}{{name}}, {{/each}}</td>
        </tr>
        <tr>
            <td class="film-info genre">
            </td>
            <td class="film-info-share">

                <a href="https://www.facebook.com/sharer.php?display=page&u=https://www.themoviedb.org/movie/{{id}}&amp;text=Would%20you%20like%20to%20watch%20this%20movie%3F%20"
                    class="fb-btn" rel="nofollow" target="_blank">
                    <span class="fb-label">f</span></a>

                <a href="https://t.me/share?url=https://www.themoviedb.org/movie/{{id}}&amp;text=Would%20you%20like%20to%20watch%20this%20movie%3F%20"
                    class="tgme-btn" rel="nofollow" target="_blank">
                    <span class="tgme-icon"></span></a>

                <a href="https://api.whatsapp.com/send?text=https://www.themoviedb.org/movie/{{id}}&amp;text=Would%20you%20like%20to%20watch%20this%20movie%3F%20"
                    class="whatsapp-btn" rel="nofollow" target="_blank">
                    <span class="whatsapp-icon"></span></a>

            </td>
        </tr>
    </table>

    <div class="film-about">
        <p class="film-about-title">
            {{#if langSearch }}
            ABOUT
            {{else}} О фильме
            {{/if}}
        </p>
        <p class="film-about-text">{{overview}}</p>
    </div>


    <div class="user-action-buttons">

        <button class="buttons action-watch active" type="button">
            {{#if langSearch }}
            add to Watched
            {{else}} добавить к просмотренным
            {{/if}}
        </button>


        <button class="buttons action-queue" type="button">
            {{#if langSearch }}
            add to queue
            {{else}} добавить в очередь
            {{/if}}
        </button>
    </div>

</div>