<li class="photo-gallery-item">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" alt="{{title}}"
        class="photo-gallery-photo">

    <p class="title">{{title}}</p>
<<<<<<< Updated upstream
    <p class="title">{{genre}} ????????<span class='title-accent'> | </span>{{release_date}} {{vote_average}}
=======
    <p class="title accent-color">{{genre_ids}}<span> | </span>{{release_date}} <span
            class="vote-average">{{vote_average}}</span>
>>>>>>> Stashed changes
    </p>

</li>