<li class="photo-gallery-item">
    <img src="{{poster_path}}" alt="{{title}}" class="photo-gallery-photo">

    <p class="title">{{title}}</p>

    <p class="title accent-color">{{genre_ids}}<span> | </span>{{release_date}}
        {{#if vote_average}}
        <span class="vote-average">{{vote_average}}</span>
        {{/if}}
    </p>

</li>